.footer-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px 10px;
 }
 .footer2__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
 }
 
 .footer2__copyright {
    margin: 0;
    color: #000000;
    font-weight: 200;
    font-size: .8em;
 }
 .x{
    width: 21px;
    height: 21px;
    color: #fff;
    width:100px;
    height:100px;
 }
 .instagram{
    width: 100px;
    height: 100px;
 }
 .git{
    width: 100px;
    height: 100px;
    color: #000000;
  }