.h2{
    font-size: 50px;
    text-align: center;
    color:#000;
 }
 .h3{
    font-size: 30px;
    text-align: center;
    color:#fff;
 }
 .h4{
    font-size: 30px;
    text-align: center;
    color:#fff;
 }
 .p{
    font-size: 20px;
    text-align: center;
    color:#fff;
 }
 .li{
    display:flex;
    justify-content: center;
 }
 .boody{
   background-color:#000
 }